.adds {
    background-color: #05FA58;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 275px;
    padding-right: 275px;
}

.adds:active,
.adds:hover {
    background-color: #7df5a5;
}